
{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mazer Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'app1.css' %}">
    <link rel="stylesheet" href="{% static 'auth.css' %}">
</head>

<body>
    <div id="auth">
        
<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <div class="auth-logo">
                {% comment %} <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo"></a> {% endcomment %}
            </div>
            <h1 class="auth-title">Sign Up</h1>
            <p class="auth-subtitle mb-5">AUDI Patient Registration Form</p>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
              
                
                <div class="form-group position-relative has-icon-left mb-4">
                    <div class="form-group">
                        {% render_field patientForm.fname class="form-control" placeholder="First Name" %}
                      </div>
                    <div class="form-control-icon">
                        <i class="bi bi-envelope"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">
                    <div class="form-group">
                        {% render_field patientForm.lname class="form-control" placeholder="Last Name" %}
                      </div>                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">
                    <div class="form-group">
                        {% render_field userForm.username class="form-control" placeholder="Username" %}
                      </div>                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">
                    <div class="form-group">
                        {% render_field userForm.password class="form-control" placeholder="Password" %}
                      </div>                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">

                    <div class="form-group">
                        {% render_field patientForm.address class="form-control" placeholder="Address" %}
                      </div>                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">
                    <div class="form-group">
                        {% render_field patientForm.symptoms class="form-control" placeholder="Symptoms" %}
                      </div>
                                         <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">
                    <div class="form-group">
                        {% render_field patientForm.patient_age class="form-control" placeholder="Age" %}
                      </div>                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">
                    <div class="form-group">
                        {% render_field patientForm.assignedDoctorId class="form-control" placeholder="Doctor" %}
                      </div>               <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>

                <div class="form-group position-relative has-icon-left mb-4">
                    <div class="form-group">
                        {% render_field patientForm.sex class="form-control" placeholder="Gender" %}
                      </div>              <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>

                <div class="form-group position-relative has-icon-left mb-4">
                    <div class="form-group">
                        {% render_field patientForm.blood_grp class="form-control" placeholder="Blood group" %}
                      </div>              <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>

                <div class="form-group position-relative has-icon-left mb-4">
                    <div class="form-group">
                        {% render_field patientForm.profile_pic required="required" class="form-control" placeholder="Profile Picture" %}
                      </div>            <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Sign Up</button>
            </form>
            <div class="text-center mt-5 text-lg fs-4">
                <p class='text-gray-600'>Already have an account? <a href="patientlogin" class="font-bold">Log
                        in</a>.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">

        </div>
    </div>
</div>

    </div>
</body>

</html>
